<template>
    <div>
        <b-container class="bv-example-row" :class="$style.wrapper">
            <b-row>
                <b-col md="4" offset-md="4">
                    <b-card
                        title="AtlasCop" :class="$style.sizeForm">
                        <b-card-text>
                           Ingresa tu credenciales
                        </b-card-text>
                        <b-form>
                            <b-form-group>
                                <b-form-input type="email" v-model="form.email" placeholder="Corre electrónico" ></b-form-input>
                            </b-form-group>
                            <b-form-group>
                                <b-form-input type="password" v-model="form.password"></b-form-input>
                            </b-form-group>
                        </b-form>
                        <b-button block variant="light" :disabled="!disabled" @click="login">
                            <div v-if="validation.hideTextEmail">
                                Ingresar
                            </div>
                            <div v-else>
                                <b-spinner small type="grow"></b-spinner>
                                Autentificando...
                            </div>
                        </b-button>
                    </b-card>
                    <br>
                    <transition name="fade">
                        <div v-if="message.msgSuccess">
                            <b-alert variant="success" show>Haz iniciado correctamente!</b-alert>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div v-if="message.msgError">
                            <b-alert show variant="danger">Chanfles! Hubo un error en la autentificación.</b-alert>
                        </div>
                    </transition>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import firebase from 'firebase';

export default {
    data() {
        return {
            form: {
                email: "",
                password: ""
            },
            validation: {
                hideTextEmail: true
            },
            message:{
                msgError: false,
                msgSuccess: false
            }
        } 
    },
    methods: {
        login() {
            this.validation.hideTextEmail = false;
            firebase
            .auth()
            .signInWithEmailAndPassword(this.form.email, this.form.password)
                .then((user) => {
                    this.message.msgSuccess = true;
                    this.validation.hideTextEmail = true;
                    setTimeout(() => this.$router.replace('dashboard'), 3000);
                })
                .catch((err) => {
                    console.log('Chanfle. ' + err.message)
                    this.validation.hideTextEmail = true;
                    this.leyendErrorGeneric();
                })
        },
        leyendErrorGeneric() {
            this.message.msgError = true;
            setTimeout(() => this.message.msgError = false, 1000);
        }
    },
    computed: {
        disabled() {
            if(this.form.email != '' && this.form.password != '') {
                return true;
            }
        }
    }
}
</script>

<style lang="css">
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
</style>

<style lang="scss" scoped module>
    @import "@/utils/var.scss";

    .wrapper {
        color: $color-blanco;
        margin: 10em auto;

        & .sizeForm {
            background-color: $primary-color;
        }
    }
</style>