<template>
    <div>
        <Navegation />
        <b-container>
            <header :class="$style.header">
                <h3>Empleados activos</h3>
            </header>

            <section :class="$style.sectionTable">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Dirección</th>
                                <th scope="col">País</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(user, index) in users.results" :key="index">
                                <td>{{ user.name.title }}. {{ user.name.first }}</td>
                                <td>{{ user.name.last }}</td>
                                <td>{{ user.phone }}</td>
                                <td>{{ user.location.street.name }} {{ user.location.street.number }}</td>
                                <td>{{ user.location.country }}</td>
                                <td>
                                    <router-link :to="{ name: 'Detail', params: { userId: user.login.uuid , user: user}}">
                                        <button type="button" class="btn btn-sm" :class="$style.bgButton">
                                            Detalle
                                        </button>
                                    </router-link>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </b-container>
    </div>
</template>

<script>
import firebase from 'firebase';
import { mapState } from 'vuex';
import Navegation from '@/components/Navegation.vue';

export default {
    name: "Dashboard",
    created() {
        this.$store.dispatch('getUsers');
    },
    computed: mapState([
        'users'
    ]),
    components: {
        Navegation
    }
        
}
</script>

<style lang="scss" module scoped>
    @import "@/utils/var.scss";

    .bgButton {
        background: $primary-color;
        border-radius: 50px;
        color: $color-blanco;
    }

    .header {
        margin: 20px 0;
        width: 100%;
    }
</style>