<template>
    <div>
        <div>
            <b-navbar toggleable="lg" type="dark" variant="info">
                <b-navbar-brand href="/">AtlasCop</b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <!-- <b-nav-item href="#">Empleados</b-nav-item> -->
                    <!-- <b-nav-item href="#" disabled>Disabled</b-nav-item> -->
                </b-navbar-nav>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-item-dropdown text="Menu" right>
                    <b-dropdown-item>Ordenes</b-dropdown-item>
                    <b-dropdown-item href="#">Productos</b-dropdown-item>
                    <b-dropdown-item href="#">Inventario</b-dropdown-item>
                    <b-dropdown-item href="#">Bodega</b-dropdown-item>
                    </b-nav-item-dropdown>

                    <b-nav-item-dropdown right>
                    <!-- Using 'button-content' slot -->
                    <template v-slot:button-content>
                        <em>Usuario</em>
                    </template>
                    <b-dropdown-item>
                        <router-link to="profile">Perfil</router-link>
                    </b-dropdown-item>
                    <b-dropdown-item @click="logout">Cerrar sesion</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
                </b-collapse>
            </b-navbar>
        </div>
        <b-container>
            <b-row align-v="center">
                <b-col md="4" offset-md="4">
                    <b-card class="mt-3" header="Mis datos">
                        <b-form @submit="onSubmit" @reset="onReset">
                            <b-form-group
                                id="input-group-1"
                                label="Email address:"
                                label-for="input-1"
                                description="We'll never share your email with anyone else."
                            >
                                <b-form-input
                                id="input-1"
                                v-model="form.email"
                                type="email"
                                required
                                placeholder="Enter email"
                                ></b-form-input>
                            </b-form-group>

                            <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
                                <b-form-input
                                id="input-2"
                                v-model="form.name"
                                required
                                placeholder="Enter name"
                                ></b-form-input>
                            </b-form-group>

                            <b-button type="submit" block variant="primary">Guardar Cambios</b-button>
                        </b-form>
                    </b-card>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        form: {
                email: '',
                name: ''
            }
        }
    },
    methods: {
     
    }
  }
</script>