<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="primary">
            <b-navbar-brand href="/">AtlasCop</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <!-- <b-nav-item href="#">Empleados</b-nav-item> -->
                    <!-- <b-nav-item href="#" disabled>Disabled</b-nav-item> -->
                </b-navbar-nav>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <!-- <b-nav-item-dropdown text="Menu" right>
                    <b-dropdown-item>Ordenes</b-dropdown-item>
                    <b-dropdown-item href="#">Productos</b-dropdown-item>
                    <b-dropdown-item href="#">Inventario</b-dropdown-item>
                    <b-dropdown-item href="#">Bodega</b-dropdown-item>
                    </b-nav-item-dropdown> -->

                    <b-nav-item-dropdown right>
                    <!-- Using 'button-content' slot -->
                    <template v-slot:button-content>
                        Cuenta
                    </template>
                    <b-dropdown-item @click="logout">Cerrar sesion</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<script>
import firebase from 'firebase';

export default {
    name: "Navegation",
    methods: {
        logout() {
            firebase.auth().signOut().then(() => this.$router.replace('login'));
        }
    }
}
</script>