@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');

$font-body: 'Nunito', sans-serif;
$primary-color: #007bfe;
$color-gray-light: #666666;
$color-blanco: #ffffff;

$font-size-12px: 12px;
$font-size-16px: 16px;
$font-size-18px: 18px;

body {
    margin: 0;
    padding: 0;
    background: $color-blanco;
    font-family: $font-body;
    font-weight: normal;
    line-height: 1.5;
    color: $color-gray-light;
    font-size: $font-size-16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
