<template>
    <div>
        <Navegation />
        <br>
        <b-container>
            <div class="card">
                <h5 class="card-header" :class="$style.backgroundHeader">
                    <span><small>{{ user.name.title }}. </small>{{ user.name.first }} {{ user.name.last }}</span>
                    <router-link :to="{ name: 'Dashboard'}">
                        <button type="button" class="btn btn-light">Volver</button>
                    </router-link>
                </h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img :src="user.picture.large" alt="" class="rounded-circle">
                            <h4 :class="$style.titleUsername">@{{ user.login.username }}</h4>
                        </div>
                        <div class="col-md-9">
                            <ul :class="$style.lists">
                                <li>
                                    <small>Usuario</small>
                                    {{ user.login.username }}
                                </li>
                                <li>
                                    <small>Email</small>
                                    {{ user.email }} 
                                </li>
                                <li>
                                    <small>Teléfono</small>
                                    +{{ user.phone }}
                                </li>

                                <li>
                                    <small>Celular</small>
                                    +{{ user.cell }}
                                </li>

                                <li>
                                    <small>Dirección</small>
                                    {{ user.location.street.name }}
                                    {{ user.location.street.number }}
                                </li>
                                <li>
                                    <small>Ciudad</small>
                                    {{ user.location.city }}
                                </li>
                                <li>
                                    <small>Estado</small>
                                    {{ user.location.state }}
                                </li>
                                <li>
                                    <small>País</small>
                                    {{ user.location.country }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
       </b-container>
    </div>
</template>

<script>
import Navegation from '@/components/Navegation.vue'

export default {
    data() {
        return {
            user: this.$route.params.user
        }
    },
    components: {
        Navegation
    }
}
</script>

<style lang="scss" scoped module>
    @import "@/utils/var.scss";

    .backgroundHeader {
        background-color: $color-gray-light;
        color: $color-blanco;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .titleUsername {
        margin-top: 20px;
        color: $primary-color;
        font-size: $font-size-16px;
    }
    .lists {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        & li {
            margin-bottom: 20px;
            font-size: $font-size-16px;
            & small {
                display: block;
                font-size: $font-size-12px;
                border-bottom: dotted 1px $color-gray-light;
                color: $color-gray-light;
                margin-bottom: 10px;
            }
        }
    }

    /* Large desktops and laptops */
    @media (min-width: 1200px) {
        .lists {
            flex-direction: row;
             & li {
                & small { 
                    max-width: 100px;
                }
            }
            & * {
                flex: 1 1 290px;
            }
        }
    }

    /* Landscape tablets and medium desktops */
    @media (min-width: 992px) and (max-width: 1199px) {
        .lists {
            flex-direction: row;
             & li {
                & small { 
                    max-width: 100px;
                }
            }
            & * {
                flex: 1 1 290px;
            }
        }
    }

    /* Portrait tablets and small desktops */
    @media (min-width: 768px) and (max-width: 991px) {
        .lists {
            flex-direction: row;
             & li {
                & small { 
                    max-width: 100px;
                }
            }
            & * {
                flex: 1 1 190px;
            }
        }
    }

    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {
        .lists {
            flex-direction: column;
            & li {
                width: 100%;
                & small { 
                    width: 100%;
                }
            }
        }
    }

    /* Portrait phones and smaller */
    @media (max-width: 480px) {
        .lists {
            flex-direction: column;
            & li {
                width: 100%;
                & small { 
                    width: 100%;
                }
            }
        }
    }
</style>